*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .5s;
  list-style: none;
}
body {
  overflow-x: hidden;
}
/* Start Global */
.nav-active {
  background-color: #028dff !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.active {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  color: #028dff !important;
}
.custom-rounded {
  border-radius: 0 0 15px 15px;
}
.fit-content {
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .text-md-white {
    color: white;
  }
}
.custom-list {
  right: -30px !important;
}
.red-color {
  color: #e86167;
}
.bg-red {
  background-color: #e86167;
}
.rounded {
  border-radius: 15px !important;
}
/* End Global */
header {
  min-height: 600px;
  background-image: url(./../imgs/background.jpg);
  background-size: cover;
  border-radius: 0 0 100px 100px;
  position: relative;
}
nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  border-radius: 0 0 100px 100px;
}
nav .logo {
  color: white;
  font-family: Pacifico;
}
@media screen and (max-width: 767px) {
  header .list {
    position: absolute;
    right: -220px;
    bottom: -325px;
    background-color: white;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    margin: 0;
    width: 200px;
    height: 300px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
}
header nav a {
  text-decoration: none;
}

header .img-container {
  position: relative;
  width: fit-content;
  background-image: url(./../imgs/assassins.jpg);
  width: 320px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 400px) {
  header .img-container {
    width: 270px;
  }
}
.menu-item{
  width: 30px;
  height: 27px;
  position: relative;
  cursor: pointer;
}
nav span{
  width: 30px;
  height: 4px;
  background-color: #FFF;
  position: absolute;
  transition: .5s;
  border-radius: 15px;
}
nav span:first-child{
  top: 0px;
}
nav span:nth-child(2){
  top: 11px;
}
nav span:last-child{
  top: 23px;
}

.one-hover {
  top: 11px !important;
  transform: rotate(-135deg);
  background-color: #e86167;
}
.two-hover {
  opacity: 0;
}
.three-hover {
  top: 11px !important;
  transform: rotate(135deg);
  background-color: #e86167;
}

@media screen and (max-width: 767px) {
  nav .list a {
    padding: 10px;
    border-radius: 5px;
    color: #000;
  }
  nav .list a:hover {
    background-color: #f6f6f6;
  }
}

.img-container .price {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #028dff;
}
.img-container .discount-container {
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 340px) {
  .img-container .discount-container {
    left: -5px;
  }
}
.search-box {
  width: fit-content;
}
.search-box input{
  background-color: transparent;
  border: 0;
  outline: 0;
}
.search-box button {
  background-color: #e86167;
  border: 1px solid #e86167;
  color: white;
  padding: 5px 10px;
}
.search-box button:hover {
  background-color: rgba(232, 97, 104, 0.9);
}

.cards {
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
}
.cart .badge {
  width: 25px;
  height: 25px;
  background-color: #e86167;
  top: -13px;
  right: -19px;
}
header .card {
  border-radius: 15px;
  max-width: 200px;
  border: 1px solid white;
}
.icon-container {
  width: 50px;
  height: 50px;
  background-color: #028dff;
}
.trending .btn:hover{
  background-color: rgba(232, 97, 104, 0.9);
}
.btn:focus {
  border: 0 !important;
}
/* Start Header Cards */
.cards-container {
  min-width: 150px;
  height: 138px;
}
.h-card-1, .h-card-2, .h-card-3, .h-card-4 {
  top: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  .cards-container {
    gap: 20px;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-card {
    width: 150px;
    height: 138px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .cards-container {
    gap: 20px;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-card {
    width: 150px;
    height: 125px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
  }
  .h-card-1, .h-card-2, .h-card-3, .h-card-4 {
    position: absolute;
  }
  .cards-container:hover .h-card-1{
    top: 150px;
    right: 90px;
  }
  .cards-container:hover .h-card-2{
    top: 150px;
    right: -90px;
  }
  .cards-container:hover .h-card-3{
    top: 300px;
  }
}
@media screen and (max-width: 300px) {
  .cards-container:hover .h-card-1{
    top: 144px;
    right: 64px;
  }
  .cards-container:hover .h-card-2{
    top: 144px;
    right: -64px;
  }
  .cards-container:hover .h-card-3{
    top: 265px;
  }
}
/* End Header Cards */
/* Start Trending */
.trending .trend-card {
  background-color: #efeeec;
  border: 1px solid #efeeec;
  min-height: 200px;
  width: 225px;
}
.trending .icon-container {
  background-color: #e86167;
}
.trending .trend-card i {
  font-size: 2rem;
}
.trending .trend-card img{
  height: 120px;
  object-fit: cover;
}
.trend-card a {
  padding: 10px;
  background-color: #e86167;
  color: white;
  text-decoration: none;
  border-radius: 15px;
}
.trend-card a:hover {
  background-color: rgba(232, 97, 104, 0.9);
}
.trending .card-body {
  height: 100px;
}
/* End Trending */
/* Start Most Played */
.most-played {
  background-color: #efeeec;
  border-radius: 100px;
}
.most-played .btn:hover {
  color: black !important;
}
.most-played .card {
  width: 150px;
  background-color: #f8ffff;
  border: 1px solid #f8ffff;
}
.most-played .card-body button.btn{
  left: 50%;
  transform: translateX(-50%);
}
/* End Most Played */
/* Start Top Categories */
.top-categories .card{
  width: 180px;
  height: 200px;
  background-color: #028dff;
  border-radius: 15px;
  border: 0;
  margin: 0 auto;
}
.top-categories .card .img-container {
  height: 100px;
  flex-grow: 1;
}
.top-categories .card .img-container img {
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
/* End Top Categories */
/* Start Floating Cards */
.floating-cards {
  display: flex;
  min-height: 500px;
}
.floating-cards .floating-card {
  width: 300px;
}
.floating-img {
  height: 400px;
  width: 300px;
}
@media screen and (max-width: 340px) {
  .floating-cards .floating-card {
    padding: 20px !important;
    width: 260px;
  }
  .floating-cards .floating-card.card1 {
    top: -2%;
  }
  .floating-img {
    width: 260px;
  }
}
@media screen and (max-width: 575px) {
  .floating-cards {
    min-height: 900px;
  }
  .floating-card.card1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    top: -5%;
  }
  .floating-img{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
  }
  .floating-card.card2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    top: 57%;
  }
}
@media screen and (min-width: 576px) {
  .floating-cards {
    min-height: 900px;
  }
  .floating-card.card1 {
    position: absolute;
    left: 10%;
    z-index: 999;
    top: -5%;
  }
  .floating-img{
    position: absolute;
    top: 16%;
    left: 40%;
  }
  .floating-card.card2 {
    position: absolute;
    left: 20%;
    z-index: 999;
    top: 41%;
  }
}
@media screen and (min-width: 768px) {
  .floating-cards {
    width: 700px;
  }
  .floating-card.card1 {
    position: absolute;
    left: 0%;
    z-index: 999;
  }
  .floating-img{
    position: absolute;
    top: 100px;
    left: 250px;
  }
  .floating-card.card2 {
    position: absolute;
    top: 350px;
    left: 440px;
    z-index: 999;
  }
}
.floating-cards .card1 button {
  background-color: #e86167;
  color: white;
}
.floating-cards .card1 button:hover {
  background-color: rgba(232, 97, 104, 0.9);
}
.floating-cards .card1, .floating-cards .card2 {
  background-color: #efeeec;
}
.floating-cards .search-box {
  width: 100%;
  max-width: 350px;
}
.floating-cards .search-box input {
  width: 70%;
}
.floating-cards span {
  color: #028dff;
}
/* End Floating Cards */
/* Start Footer */
footer {
  border-radius: 100px 100px 0 0;
  background-color: #028dff;
}
/* End Footer */